body {
    font-family:"Arial", "Verdana", "sans";
    font-size:80%;
}
body div {
    float: left;
    padding: 0 10px;
}
h3 {
    margin: 10px 0;
    padding: 5 auto;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid;
    border-bottom: 2px solid;
}
th {
    background-color: #333;
    color: #ffffff;
}
th, td {
    border: 1px solid #000;
    padding: 10px 5px;
    min-width: 70px;
    text-align: center;
}
tr:nth-child(1) > td:nth-child(1) {
    border-color: #fff;
}
tr:nth-child(2) > td {
    color: #6baa01;
}