#headerdiv{
    font-family: "Arial", "Helvetica";
    font-size: 14px;
     text-align:center;
    font-weight: bold;
}
.labelDiv{
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    font-family: "Arial", "Helvetica";
 
}

.allpadding{
   padding:5px;
   
}