body {
    font-family:'Helvetica Neue', Arial;
    font-size: 14px;
}
body > div {
    /*only one in this sample */
    width: 600px;
}
table {
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid;
    border-bottom: 2px solid #1aaf5d;
}
th {
    background-color: #0075c2;
    color: #ffffff;
}
th, td {
    border: 1px solid #333333;
    padding: 10px 5px;
    min-width: 70px;
    text-align: center;
}
tr:nth-child(1) > td:nth-child(1) {
    border-color: #fff;
}
tr:nth-child(2) > td {
    color: #1aaf5d;
}
tr:nth-child(2) > td:nth-child(1) {
    background-color: #1aaf5d;
    color: #fff;
}
#tableCont {
    width: 100%;
}