input[type=text] {
    max-width: 50px;
    font-family: Verdana, sans;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}
#controllers {
    position: inherit;
    left: 10px;
    font-family: Verdana, sans;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}
.resizebtn {
    font-family: Verdana, sans;
    font-size: 14px;
    font-style: normal;
}