#controllers {
    position: inherit;
    left: 10px;
    font-family: Verdana, sans;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}
.btns {
    font-family: Verdana, sans;
    font-size: 14px;
    font-style: normal;
}