body {
    padding: 10px;
}
#radio-container{
    margin-top: 10px;
    width: 500px;
    text-align: center;
}
body{
    font-family: 'Helvetica Neue', Arial;
    font-size: 14px;
    font-weight: normal;
}